/* 组件样式 */
.contact-form {
    background-color: #ab8c79;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* Add some space between the input groups */
}

.contact-form .input-container input {
    width: 48%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}

.contact-form input::placeholder {
    color: white;
}

.contact-form p {
    margin: 10px 0;
}

.contact-form button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: white;
    color: #ab8c79;
}

.background-section {
    background-image: url('images/background1.jpg');
    /* 背景图片 */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    /* 设置背景图片的高度 */
    z-index: -1;
}