/* 基础样式 */
html {
    background-color: #ab8c79;
    /* 米白色背景 */
    color: #999999;
    /* 灰色文字 */
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /* 白色背景 */
    color: #999999;
    /* 灰色文字 */
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}


