/* 页脚样式 */
footer {
  background-color: #ab8c79;
  /* 米白色背景 */
  color: #000000;
  /* 灰色文字 */
  text-align: left;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

.footer-logo {
  margin-bottom: -40px;
}

.footer-Campanyname {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
}

.footer-address {
  font-size: 14px;
}

.footer-logo img {
  width: 150px;
  height: auto;
  position: relative;
  display: inline-block;
}

.footer-description p {
  margin: 5px 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #000000;
  /* 灰色文字 */
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  text-decoration: underline;
}
